@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(0, 225, 255);
  --primary-background: rgb(55, 56, 71);
  --primary-text: rgb(216, 214, 214);
}

body {
  background: var(--primary-background);
  font-family: 'Poppins', sans-serif;
  color: var(--primary-text);
}
